.calc{
    width:400px;
    height:400px;
    background-color: blue;
    margin-left: 400px;
}
.screen{
    width:80px;
    margin-left: 56px;
    height: 70px;
    margin-top: 50px;
    pointer-events: none;

}
.btn{
    width: 60px;
    height: 45px;
    margin-left: 80px;
    margin-top: 30px;
    background-color: gold;
}